parameters:
    paths:
        - app/
        - database/factories
        - database/seeders
        - routes/
        - tests/

    level: 5

includes:
    - vendor/nunomaduro/larastan/extension.neon
